* {
    box-sizing: border-box;
}

/* use with background image
h2, h1, .view-number-p, i {
    color: white;
}
*/

i {
    font-size: 20px;
}

/* use with background image
body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('blizzard-background.jpg');
    background-attachment: fixed;
}
*/

h1, h2 {
    text-align: center;
}

.start-retake-button {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
    width: 120px;
    font-size: 30px;
}

button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

hr {
    margin-top: 200px;
}

p {
    text-align: center;
}

.view-number-p {
    text-align: left;
}

.question-container {
    border: 1px solid gray;
    width: 600px;
    height: 350px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background:  linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) )
}

.input-answer-box {
    border: 1px solid gray;
}

@media screen and (max-width: 450px) {

    button {
        height: 50px;
        width: 100px;
    }

    .question-container {
        width: 350px;
        height: 375px;
    }

    h3 {
        text-align: center;
    }

    


}

@media screen and (max-width: 780px) {

    button {
        height: 50px;
        width: 100px;
    }

    .score {
        text-align: center;
    }
    
}